

header {
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Banner\ Image.png);
  background-repeat: no-repeat;
  width: 1220px;
  height: 600px;
  border-radius: 16px;
  background-position: center;
  margin-left: 60px;
  margin-top: 0px;
}

.banner-title {
  color: #FFF;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-weight: 400;
  padding-top: 100px;
}

.banner-desc {
  color: #FFF;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* main section csss */


/* section-1 */


.section-1-head {
  color: #F00;
  text-align: center;
  font-family: inter;
  font-size: 88px;
  font-weight: 700;
}

.sec-1-desc {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.sec-1-title {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.section-1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* section-22222222 */

.section-2 {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
  width: 1220px;
  height: 600px;
  flex-shrink: 0;
  margin-top: 100px;
  margin-left: 60px;


}

.sec-2-head {
  color: #FFF;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  width: 642px;
  padding-top: 50px;
  padding-left: 125px;
}

.sec-2-desc{
  color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
width: 697px;
  padding-left: 125px;
}

.sec-2-btn{
  color: #FFF;
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
padding-left: 125px;
padding-top: 20px;
}
.sec-2-btn:hover{
  font-size: 24px;
  color: aquamarine;
}

.sec-2-flex{
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.sec-2-img{
  margin-top: 120px;
}

/* section-3
-----------
----------
----------*/

.section-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  border: 0px solid rgb(255, 255, 255);
  margin-left: 60px;
}



.sec-3-first{
  color: #F00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.sec-3-head{
  color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.sec-3-para{
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; 
}

.sec-3-main-img{
  border-radius: 463px;
border: 15px solid #F00;
padding: 40px;
width: 364.844px;
height: 364.844px;
}

.sec-3-grid-3{
  color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}

.sec-3-grid-3-p{
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}

/* section -4
----------
--------- */



.sec-4-head-1{
  color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-left: 60px;
margin-top: 150px;
}

.sec-4-head-2{
  color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
margin-left: 60px;
}

.sec-4-desc{
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; 
width: 896px;
margin-left: 60px;
}

.grid-container{
  display: grid;
  grid-template-columns: 31% 31% 31%;
  gap: 20px;
justify-content: center;
}

.item:hover{
  transform: scale(1.1);
  transform: rotate(10deg);
  
}

/* section-5
-0---------
--------------
------------ */

.section-5{
  width: 1220px;
height: 640px;
flex-shrink: 0;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
margin-left: 60px;
margin-top: 150px;
}

.sec-5-img{
  margin: auto;
  display: block;
  padding-top: 80px;
}
.sec-5-head{
  color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.sec-5-desc{
  color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
margin-bottom: 48px;
}
#email{
  width: 648px;
height: 72px;
flex-shrink: 0;
text-align: left;
padding-left: 30px;
border: 1px solid white;
border-radius: 50px;
background: #FFF;
color: rgba(7, 2, 17, 0.30);
font-family: Inter;
font-size: 18px;
font-weight: 400;
margin-left: 100px;
}
.Subscribe{
  border-radius: 4px 50px 50px 4px;
background: #F00;
width: 210px;
height: 76px;
border: 1px solid white;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 600;
position: relative;
right: 100px;
}
.Subscribe:hover{
  background-color: green;
}
.submit{
  display: flex;
  justify-content: center;
}

/* foootererrererererer
--------------------- */

footer{
  width: 1340px;
height: 609px;
flex-shrink: 0;
background: #070211;
margin-top: 150px;
}
.foot{
  color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;
margin-top: 120px;
}

.phone-web{
margin-top: 120px;
}
.foot-flex{
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.phone-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.foot-web{
  color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 10px;
}

footer hr{
  width: 1120px;
height: 1px;
background: rgba(255, 255, 255, 0.15);
}

.footer-logo-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
  margin-bottom: 48px;

}
.footer-logo-flex img:hover{
  transform: scale(1.2);
}
.foot-last-flex{
  display: flex;
  justify-content: space-between;
  padding: 0px 80px 0px 160px;
}